/* ### COMMON  ###############################*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /*width:400px ==> 400px=w+b+p*/
}

html {
    font-size: 20px;
}

body {
    transition: 1.5s all;
    background-color: var(--backColor);
    color: var(--frontColor);
    margin: 2rem;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.col25 {
    width: 25%;
}

.col50 {
    width: 49.6%;
    float: left;
}

.col100 {
    width: 100%;
}


/* ### ROOT ###############################*/
:root {
    --backColor: #000000;
    --frontColor: #fff;
}

/* ### Form ###############################*/
#form_out {
    text-align: center;
    position: relative;
}

.container {
    width: 70%;
    padding: 2rem;
    box-shadow: -1px 1px 4px 1px rgba(255, 255, 255, .9);
    border-radius: 5%;
}

/* ### Resmi arka planda blur göstermek ###############################*/
#form_out::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    content: "";
    background-image: url("../../image/mountains-gfaa146f37_1920.jpg");
    background-size: cover;
    opacity: .5;
    z-index: -1;
}

/*ilk p*/
#vocabulary>p {
    opacity: 0.7;
}

/* ### Input ###############################*/
/*ilk satırda inputlar araında mesafe*/
.first_name {
    margin-right: 10px;
    background-color: blue;
}

/*input text,email,password*/
input[type=text],
input[type=email],
input[type=password] {
    background-color: rgb(224, 233, 230);
    padding: 0.2rem;
    border: none;
    border-bottom: 2px solid rgb(20, 3, 175);
    border-radius: 10px;
    opacity: .5;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

/*input:focus*/
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: #070707;
    color: white;
}

/* input içine icon koymak */
.icon {
    color: white;
    text-align: center;
}

.left-inner-addon input {
    padding-left: 3rem !important;
}

.left-inner-addon i {
    position: absolute;
    padding: 1rem;
}


/*check box*/
#input_checkbox {
    margin-top: 0.7rem;
}

.border_bold {
    font-weight: bolder;
}

/*Submit button*/



.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}