/*Multiple comment */
/*!important > inliceCSS > internalCSS > externalCSS*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* h2{
    color:brown;
} */

/*COMMON*/
html {
    font-size: 15px;
}

body {
  margin: 5%; 
}
a{
    text-decoration: none;
    background-color: blue;
    color:white;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 10%;
}

a:hover{
    background-color: white;
    color:blue;
}

a:visited{
    background-color: rgb(233, 4, 4);
    color:rgb(96, 185, 11);
}

ul{
    list-style-type: none;
}
ul li{
    background-color: black;
    color:white;
    padding: 2px;
    display: inline-block;
    margin:2px;
    text-transform: uppercase;
    transition: 2s all;
    border-radius: 5%;
}

ul li:hover{
    background-color: white;
    color:black; 
}

img{
    max-width: 100%;
    height: auto;
    transition: 1.5s all;
}

img:hover{
    box-shadow: -1px 1px 5px 1px rgba(0,0,0,.8);
}

/*DATA*/

/*Float kullanıyorsanız bunu kullanın*/
.special_clear_fix {
    content: "";
    display: block;
    clear: both;
}

.div_class {
    border: 1px solid blue;
    margin: 1px;
    height: auto;
    width: 100%;
    float: left;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-radius: 5%;
    transition: 5s all;
}

.div_class:hover {
    /* display: none; */
    box-shadow: -1px 1px 10px 1px rgba(182, 82, 82, 0.8);
}

.div_class p {
    color: blue;
    color: #9af;
    color: #5a3faf;
    color: rgb(0, 0, 255);
    color: rgba(0, 0, 255, 0.9);
    color: rgba(255, 255, 255, .9);

    background-color: black;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding: 10px;
    padding: 10px 20px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin: 10px;
    margin: 10px 20px !important;

    /* text */
    text-align: justify;
    text-decoration: overline;
    text-shadow: -1px 0px;
    text-transform: uppercase;
    text-indent: 25px;

    column-count: 2;
    column-rule: 1px solid red;

    /* 
    webkit: safari,opera,chrome
    moz: smozilla  
    */
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid red;

    -moz-column-count: 2;
    -moz-column-rule: 1px solid red;
}

.div_class p:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, .9);
    display: block;
    display: inline;
    display: inline-block;
    transition: 2s all;
    transform: rotate(360deg);
}

/*Group Selector*/
p{
    background-color: red;
}

div{
    background-color: blue; 
}

div,p{
color:white;
}

div>p{
   padding: 50px; 
}

/* div p{
    padding: 50px; 
 } */

 div~p{
    padding: 20px; 
 }

 div+p{
    padding: 20px; 
    background-color: blue;
 }